<div class="clear-fix"><br></div>
<div class="row">
  <div class="col-3">
    <h4 class="text-center">Import Invoices</h4>
    <div class="clear-fix"><br></div>
      <%= form_tag import_invoices_path, multipart: true do %>
        <div class="custom-file">
          <%= file_field_tag :file, class:'custom-file-input' %>
          <%= label_tag 'file', "Choose File", class: 'custom-file-label' %>
        </div>
        <div class="clear-fix"><br></div>
        <div class="text-center">
          <%= submit_tag "Import invoices", class:"btn btn-outline-success" %>
        </div>
      <% end %>
  </div>
  <div class="col-9">
<h2 class="text-center">Invoices<%= link_to 'New Invoice', new_invoice_path,
  class:"btn btn-outline-success float-right btn-sm" %></h2>

<div class="clear-fix"><br></div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Num</th>
      <th>Date</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.name %></td>
        <td><%= invoice.num %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.amount %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
