<div class="clear-fix"><br></div>
<div class="row">
  <div class="col-3">
    <h4 class="text-center">Import Customers</h4>
    <div class="clear-fix"><br></div>
      <%= form_tag import_customers_path, multipart: true do %>
        <div class="custom-file">
          <%= file_field_tag :file, class:'custom-file-input' %>
          <%= label_tag 'file', "Choose File", class: 'custom-file-label' %>
        </div>
        <div class="clear-fix"><br></div>
        <div class="text-center">
          <%= submit_tag "Import customers", class:"btn btn-outline-success" %>
        </div>
      <% end %>
      <div class="clear-fix"><br></div>
      <div class="text-success text-center">
        There are <br>
        <h4><span class="badge badge-info"><%= pluralize(@customers.count, "customer")%></span></h4>
        in the database
      </div>
      <div class="clear-fix"><br></div>
  </div>
  <div class="col-9">
    <h4 class="text-center">Customers<%= link_to 'New Customer', new_customer_path,
      class:"btn btn-outline-success float-right btn-sm" %></h4>

    <div class="clear-fix"><br></div>


    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Inv. No.</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td ><%= mail_to customer.email, customer.email, style:"text-decoration: none !important;" %></td>
            <td><%= customer.invoices.count %></td>
            <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe, customer, class: "text-success" %></td>
            <td><%= link_to '<i class="fas fa-times"></i>'.html_safe, customer,
               method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>

<%= will_paginate(@customers, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center d-flex') %>
