<!DOCTYPE html>
<html>
  <head>
    <title>Notifier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == 'sessions' %>

    <%= render 'layouts/navbar' %>
    <% end %>
    <div class="container">
      <%= render 'layouts/flashmsg' %>
      <%= yield %>
    </div>
    <% unless controller_name == 'sessions' %>
    
    <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
